:root {
    --fs-sm-: 18px;
    --fs-xmd-: 20px;
    --fs-md-: 24px;
    --fs-xxmd-: 36px;
    --fs-xlg-: 48px;
    --fs-lg-: 64px;
    --fs-xl-: 144px;
    --color-emphasis-: rgba(144, 3, 229, 1);
    --color-secondary-: rgba(0, 0, 0, 1);
    --color-tertiary-: rgba(255, 255, 255, 1);
    --color-lightwh-: rgba(1, 0, 128, 1);
    --color-bgcol-: rgba(210, 218, 96, 1);
    --color-bgsecondary-: rgba(238, 238, 238, 1);
    --color-bgtertiary-: rgba(0, 0, 0, 0.6);
    --color-emp-: rgba(138, 62, 116, 1);

}

.fs-18 {
    font-size: var(--fs-sm-);
}

.fs-20 {
    font-size: var(--fs-xmd-);
}

.fs-24 {
    font-size: var(--fs-md-);
}

.fs-36 {
    font-size: var(--fs-xxmd-);
}

.fs-48 {
    font-size: var(--fs-xlg-);
}

.fs-64 {
    font-size: var(--fs-lg-);
}

.fs-144 {
    font-size: var(--fs-xl-);
}




.color_emphasis {
    color: var(--color-emphasis-);
}

.color_secondary {
    color: var(--color-secondary-);
}

.color_tertiary {
    color: var(--color-tertiary-);
}

.color_white {
    color: var(--color-white-);
}

.color_lightwh {
    color: var(--color-lightwh-);
}

.col-colbg {
    color: var(--color-bgcol-);
}

.color-bg {
    color: var(--color-bgsecondary-);
}

.color_ter {
    color: var(--color-bgtertiary-);
}

.color-emp {
    color: var(--color-emp-);
}

@media (max-width:992px) {
    :root {
        --fs-sm-: 18px;
        --fs-xmd-: 20px;
        --fs-md-: 22px;
        --fs-xxmd-: 32px;
        --fs-xlg-: 45px;
        --fs-lg-: 55px;
        --fs-xl-: 70px;
    }
}

@media (max-width:576px) {
    :root {
        --fs-sm-: 14px;
        --fs-xmd-: 16px;
        --fs-md-: 18px;
        --fs-xxmd-: 26px;
        --fs-xlg-: 35px;
        --fs-lg-: 38px;
        --fs-xl-: 45px;
    }
}